.project-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.project-div {
    padding: 10px;
}

.projects-header, .game-header, .site-header {
    color: rgb(27, 187, 75);
    text-align: center;
}
